.screen__title {
  margin-left: 40px;
}

.screen__nextPage {
  align-items: center;
  display: flex;
  margin-left: 280px;
}

.home__background {
  background: linear-gradient(90deg, #efeff09f 75%, #cacaca6e 50%);
}

.text__link {
  text-decoration: none;
  color: black;
}
