.screen__title {
  margin-left: 40px;
}

.screen__nextPage {
  align-items: center;
  display: flex;
  margin-left: 280px;
}

.home__background {
  background: linear-gradient(90deg, #efeff09f 75%, #cacaca6e 50%);
}

.text__link {
  text-decoration: none;
  color: black;
}

.btn__arrow {
  width: 35px;
  position: relative;
}

.pagination__button {
  margin-top: 1px;
}

.btn__content__page {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 80px;
}
