.comic__content {
  margin-left: 20px;
  background-color: transparent;
}

.comic__card {
  border-color: transparent;
  background-color: transparent;
  display: flex;
  margin: 3px;
  padding: 10px;
  margin-top: 5px;
  z-index: 1;
}

.comic__button {
  font-size: small;
  background: red;
  color: white;
}

.comic__delete_button {
  position: absolute;
  margin-left: 200px;
  border-color: transparent;
  background-color: transparent;
}
