.character__content {
  display: flex;
  margin: 3px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 15px;
  z-index: 1;
}

.character__card {
  border-color: transparent;
  border-top-left-radius: 25%;
}

.character__button {
  font-size: small;
  background: red;
  margin-top: 10px;
  color: white;
}

.character__image {
  margin-top: -10px;
  width: 100%;
  margin-left: -10px;
}

.character__title {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(114, 113, 113);
}

.character__text {
  font-size: small;
  color: gray;
}

.character__text__item {
  font-size: small;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: gray;
}

.comic__content {
  margin-left: 20px;
  background-color: transparent;
}

.comic__card {
  border-color: transparent;
  background-color: transparent;
  display: flex;
  margin: 3px;
  padding: 10px;
  margin-top: 5px;
  z-index: 1;
}

.comic__button {
  font-size: small;
  background: red;
  color: white;
}

.comic__delete_button {
  position: absolute;
  margin-top: -10px;
  margin-left: 200px;
  border-color: transparent;
  background-color: transparent;
}

.favourite__delete_button {
  position: absolute;
  margin-top: -35px;
  margin-left: 170px;
  border-color: transparent;
  background-color: transparent;
}

.text__content {
  width: 30px;
  margin-left: 100px;
  margin-bottom: 15px;
  text-decoration: none;
}

.zoomImg {
  /* transform: translateX(10px) rotate(10deg) translateY(5px); */
}
