.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.header__logoImage {
  width: 150px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  margin: 0 150px;
}
