.search__form {
  width: 100%;
}

.search__in {
  float: left;
  width: 80%;
  flex: auto;
}

.search__bt {
  float: left;
  width: 20%;
  flex: auto;
}

.search__input {
  text-align: center;
  height: 40px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
  background-color: #efeff0;
}

.search__button {
  height: 40px;
  width: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px;
  align-items: flex-end;
  background-color: red;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.header__logoImage {
  width: 150px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  margin: 0 150px;
}

.modal__close__button {
  margin-top: 10px;
  margin-left: 450px;
  border-color: transparent;
  background-color: transparent;
}

.add__modal {
  background-color: red;
  color: white;
  border-color: transparent;
}
.add__modal:hover {
  background-color: rgb(75, 75, 75);
  color: white;
  border-color: transparent;
}

.add__button {
  width: 50%;
  height: 100%;
  background-color: rgb(211, 210, 210);
  color: rgb(65, 64, 64);
  border-color: transparent;
  transform: none;
}

.add__button:hover {
  width: 50%;
  height: 100%;
  background-color: rgb(47, 33, 33);
  color: red;
  border-color: transparent;
}

.shopping__button {
  width: 50%;
  height: 100%;
  color: red;
  border-color: transparent;
  background-color: rgb(168, 168, 168);
}
.shopping__button:hover {
  width: 50%;
  height: 100%;
  color: rgb(0, 255, 200);
  border-color: transparent;
  background-color: rgb(47, 33, 33);
}

.img__shopping {
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
}
.button__content {
  height: 55px;
}
